{% comment %}
INCOMING PARAMETERS:
   newfus
{% endcomment %}<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <title>Url Shortener: Fwd Url String TEST / DEMO</title>
      {% include "writeandfwd/part_headtemplate.html" %}
   </head>
   <body>
      {% include "writeandfwd/part_bodytemplate.html"  %}
      <h1>Url Shortener: Fwd Url String TEST / DEMO</h1>
    
      <h2>{{ newfus }}</h2>
  
      <p><a href="/testfus">another</a></p>
    
   </body>
</html>